In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score

from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
data=pd.read_excel('coalcombined_Fluidity_norm.xlsx')
data.describe()

,Ash,Volatile matter,Carbon,Hydrogen,Nitrogen,Sulphur,Rp,Rw,Vitrinite,Liptinite,BI,log(Max Fluidity)
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000
mean,0.542787,0.433319,0.692826,0.529532,0.424593,0.222503,0.115140,0.030325,0.506398,0.104066,0.210124,0.603421
std,0.165314,0.244474,0.153033,0.177243,0.155795,0.131079,0.103610,0.079846,0.204100,0.193526,0.120727,0.251016
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.437045,0.240253,0.623676,0.420996,0.342662,0.125581,0.071703,0.016251,0.353659,0.000000,0.121035,0.423461
50%,0.561915,0.382508,0.732060,0.523723,0.409713,0.190135,0.102930,0.019155,0.500000,0.000000,0.193988,0.588122
75%,0.645161,0.637513,0.791273,0.633919,0.514226,0.303892,0.133305,0.023688,0.640244,0.109890,0.283734,0.829216
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
#Declaring Variables
x=data[['Ash', 'Volatile matter', 'Carbon', 'Hydrogen', 'Nitrogen', 'Sulphur',
       'Rp', 'Rw', 'Vitrinite', 'Liptinite', 'BI']]
y=data['log(Max Fluidity)']

In [4]:
from sklearn.model_selection import train_test_split
 
data.columns
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, random_state=365)

In [5]:
dict2={}
dict3={}
for i in range(1,17):
    for j in range(1,17):
        #for k in range(1,17):
        mlp=MLPRegressor(hidden_layer_sizes=(i,j),max_iter=5000, activation='logistic' , learning_rate='adaptive', learning_rate_init=0.1)
        mlp.fit(x_train, y_train)
        pred=mlp.predict(x_test)
        r2=r2_score(y_test, pred)
        mse = mean_squared_error(y_test, pred)
        rmse = sqrt(mse)
        dict2[i,j]=r2
        dict3[i,j]=rmse

In [9]:
df1=pd.DataFrame(columns=['position','r2','rmse'])
list1=dict2.keys()
#print(list1)

df1['position']=list1
df1['r2']=dict2.values()
df1['rmse']=dict3.values()

df1

     position        r2      rmse
0      (1, 1)  0.475510  0.173600
1      (1, 2) -0.174963  0.259833
2      (1, 3)  0.393722  0.186646
3      (1, 4)  0.520080  0.166061
4      (1, 5) -0.195363  0.262079
..        ...       ...       ...
251  (16, 12) -0.292019  0.272469
252  (16, 13)  0.515522  0.166847
253  (16, 14)  0.562459  0.158559
254  (16, 15)  0.413569  0.183565
255  (16, 16)  0.483418  0.172287

[256 rows x 3 columns]

In [10]:
df1.to_csv('file1.csv')